$dark-theme-dark-blue: #212138;
$dark-theme-medium-blue: #1e2747;
$dark-theme-light-blue: #4c65a9;
$dark-theme-dark-grey: #8b99a4;
$dark-theme-medium-grey: #4f6b95;
$dark-theme-light-grey: #ece9e4;
$dark-theme-orange: #c45e36;

$header-height: 92px;
