$dark-theme-background-gradient-start: #17213c;
$dark-theme-background-gradient-end: #151522;

$dark-theme-dark-blue: #212138;
$dark-theme-medium-blue: #1e2747;
$dark-theme-light-blue: #4c65a9;
$dark-theme-dark-grey: #313444;
$dark-theme-medium-grey: #8b99a4;
$dark-theme-medium-grey-2: #9099b1;
$dark-theme-light-grey: #c3c4c9;
$dark-theme-link: #c45e36;
$dark-theme-button: #f0a12d;
$dark-theme-yellow: #ffcb30;

$header-height: 92px;
