@import "../../shared/style/variables.scss";

#movie-details-page {
  background: linear-gradient(
    to right,
    $dark-theme-background-gradient-start,
    $dark-theme-background-gradient-end
  );
  padding: 20px;

  h2 {
    margin: 0;
    color: white;
    font-weight: 600;
  }

  .movie-details__header {
    width: 100%;

    img {
      width: 20px;
      height: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .movie-details__info {
    display: flex;
    align-items: center;

    .movie-details__img img {
      width: 120px;
    }

    .movie-details__text {
      padding: 20px 0 20px 20px;
      color: $dark-theme-light-grey;
      font-size: 13px;

      &__IMDBRating {
        color: $dark-theme-yellow;
        img {
          width: 13px;
          height: 13px;
          margin-right: 4px;
        }
      }

      &__genre {
        margin-top: 5px;

        div {
          display: inline-block;
          height: 16px;
          margin-bottom: 7px;
          margin-right: 7px;
          padding: 3px 10px;
          border-radius: 5px;
          background-color: $dark-theme-dark-grey;
          color: $dark-theme-light-grey;
          text-align: center;
          font-size: 11px;
          font-weight: 600;
        }
      }

      p {
        margin-top: 3px;
      }

      &--bold {
        font-weight: 600;
        margin-left: 5px;
      }
      &--rating {
        font-weight: 600;
        font-size: 17px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }

  .movie-details__synopsis {
    color: #9099b1;

    p {
      margin-top: 5px;
      font-size: 14px;
    }
  }
}
