@import "../../shared/style/variables.scss";

a {
  text-decoration: none;
}

.movie-watched {
  position: relative;
  display: flex;
  min-height: 120px;
  margin: 0 15px 10px 15px;
  padding: 10px;
  background-color: $dark-theme-medium-blue;

  &__img {
    width: 80px;
    text-align: center;
    margin: auto;

    img {
      width: 75px;
      height: 115px;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 90px);
    padding-left: 10px;

    .details-header {
      width: calc(100% - 30px);
      margin-bottom: 10px;

      &__title {
        color: white;
        font-size: 14px;
        font-weight: 600;
      }

      &__title--year {
        color: $dark-theme-medium-grey;
        font-size: 12px;
        font-weight: 600;
        margin-left: 5px;
      }

      &__director {
        color: $dark-theme-medium-grey;
        font-size: 11px;
        font-weight: 600;
      }
    }

    .movie-watched__rating {
      display: flex;
      flex-direction: column;
      width: calc(100% - 65px);
      margin: auto;
      margin-top: 5px;
      text-align: center;
      color: white;

      .movie-watched__stars {
        display: flex;
        margin: auto;

        img {
          width: 27px;
          height: 25px;
          padding-right: 5px;
        }
      }

      &--comment {
        margin-top: 6px;
        color: $dark-theme-light-grey;
        font-size: 11px;
        font-weight: 500;
        font-style: italic;
      }
    }
  }

  &__close-img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}
