@import "../../shared/style/variables.scss";

body {
  background-color: $dark-theme-dark-blue;
}

#home-page {
  background-color: $dark-theme-dark-blue;

  .search-suggestions-container {
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: white;
  }

  #content {
    overflow: auto;
    margin-top: calc(#{$header-height} + 10px);
    margin-bottom: 45px;

    .content__title {
      color: white;
      font-size: 16px;
      font-weight: 600;
      padding: 0 0 0 15px;
      margin-bottom: 10px;
    }
  }
}
