@import "./shared/style/variables.scss";

body {
  background: linear-gradient(
    to right,
    $dark-theme-background-gradient-start,
    $dark-theme-background-gradient-end
  );
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#snackbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: #6aa651;
  padding: 0 20px;

  .snackbar__valid-icon {
    margin-right: 8px;
    width: 15px;
  }

  .snackbar__close-icon {
    position: absolute;
    top: 4px;
    right: 5px;
    width: 14px;

    &:hover {
      cursor: pointer;
    }
  }

  p {
    color: white;
    font-size: 12px;
    font-weight: 400;
  }
}
